<%- include('layouts/head')  %>
<%- include('layouts/navbar') %>

<main class="detail-container">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-8">

        <h2 class="title">Detail contact</h2>
        <% if (!detail) { %>
         <h1>😿 data tidak ada</h1>
         <a href="/contact" class=" card-link">kembali</a>
        <% } else { %>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= detail.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= detail.email %></h6>

            <!--  -->

            <form method="POST" action="/contact?_method=DELETE">
              <input type="hidden" name="id" value="<%= detail._id %>">
              <button type="submit" class="btn btn-danger badge" onclick="return confirm('anda yakin ?')">Delete</button>
            </form>

            <a href="/contact/edit/<%= detail.name %>" class="btn btn-primary badge" >Edit</a>

            <a href="/contact" class=" card-link">kembali</a>

           
          </div>
        </div>
        <% } %> 
      </div>
    </div>
  </div>
  </main>
<%- include('layouts/footer')  %>